.card {
  .card-header {
    min-height: 120px;

    h4 {
      &.title {
        font-weight: 900;
        color: black;
      }
    }
  }

  .card-body {
    h5 {
      &.treatment-attribute {
        // color: blue;
        font-weight: 900;
      }
    }
  }

  a {
    color: black;
  }

  &.in_progress {
    border-color: #00569D;
    background-color: #7BB4EC;
  }

  &.waiting {
    border-color: #b0120a;
    background-color: #f9bdbb;  
  }
}